    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/Configuration' | relative_url }}">Setup and Configuration</a></li>
    <li><a href="{{ '/GLBudget' | relative_url }}">GL Budget</a></li>
    <li><a href="{{ '/GeneralJournal' | relative_url }}">General Journals</a></li>
    <li><a href="{{ '/ItemJournal' | relative_url }}">Item Journals</a></li>
    <li><a href="{{ '/PhysicalInventory' | relative_url }}">Physical Inventory Orders</a></li>
    <li><a href="{{ '/SalesPrices' | relative_url }}">Sales Prices</a></li>

    <li><a href="{{ '/WhatsNew' | relative_url }}">Release Notes</a></li>
    <li><a href="{{ '/FeatureRequest' | relative_url }}">Feature Request</a></li>
